body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1 {
    text-indent: 30px;
    margin: 0;
    padding: 10px 0px 0px 0px;
}

header {
    margin: auto;
    padding: 5px 10px;
    background: rgb(0, 0, 0);
    color: white;
    position: sticky;
    top: 0;
}

nav {
    margin: auto;
    height: 50px;
    padding: 0px 10px 10px 10px;
    background: rgb(0, 0, 0);
    color: white;
    position: sticky;
    top: 55px;
}

nav ul {
    display: flex;
    margin: auto;
    padding: 10px 10px 0px 10px;
    float: right;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover,
nav ul li a.highlight {
    background: blue;
}

.container_12 {
text-align: justify;
}

.container_12 .grid_6 img {
    width: 100%;
    height: 100%;
    padding: 60px 0px 0px 0px;
}

.container_12 .grid_6 h2 {
    padding: 50px 0px 0px 0px;
    text-align: left;
}

.container_12 .grid_6 p {
    text-align: justify;
    line-height: 25px;
}

footer {
    margin: auto;
    height: 80px;
    padding: 10px 40px 10px 10px;
    background: rgb(0, 0, 0);
    color: white;
}

footer a {
    float: right;
    padding: 15px 10px 10px 10px;
}

footer h3 {
    text-indent: 10px;
    font-size: 20px;
    padding: 10px;
    float: left;
}

footer img {
    border-radius: 15px;
    height: 50px;
    width: 50px;
}
