body {
    background-color: white;
    font-family: 'Lato', sans-serif; /*google font*/
    margin: 0;
}

h1 {
    text-indent: 30px;
    margin: 0;
    padding: 10px 0px 0px 0px;
}

header {
    margin: auto;
    padding: 5px 10px;
    background: rgb(0, 0, 0);
    color: white;
    position: sticky; /*for fixed header*/
    top: 0;
}

nav {
    margin: auto;
    height: 50px;
    padding: 0px 10px 10px 10px;
    background: rgb(0, 0, 0);
    color: white;
    position: sticky; /*for fixed navigation bar*/
    top: 55px;
}

nav ul {
    display: flex;
    margin: auto;
    padding: 10px 10px 0px 10px;
    float: right; 
}

nav ul li {
    list-style: none; /*to remove underline and blue color*/
}

nav ul li a {
    display: block;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover, /*for colored hovering effect*/
nav ul li a.highlight { /*for colored highlight indication location within homepage*/
    background: blue;
}

p {
    text-align: justify;
    letter-spacing: 0.8px;
    font-size: 17px;
    line-height: 20px;
} 

/*hero unit start*/
#hero {
    text-align: center;
    font-size: 25px;
    margin: auto;
}

#hero img {
    height: 50%;
    width: 100%;
    margin-bottom: 20px;
}

#hero p {
    text-align: justify;
    letter-spacing: 0.8px;
    font-size: 20px;
    line-height: 25px;
    width: 55%;
    margin: auto;
    padding: 0px 0px 20px 0px;
} 
/*hero unit end*/

/*article section start*/
#articlesection {         /*defining height of article section*/
    height:580px;
}

.s1 {
    text-align: center;
    font-size: 30px;
}

.s1 article h1 {
    padding: 20px 0px 20px 0px;
}

.centertext {
    margin: auto;
    text-align: center;
    font-size: 20px;
}

/*3 column section start*/
#left, #center, #right {
    margin-top: 30px;
    width: 30%;
    height: 500px;
    line-height: 30px;
}

#left {     
    margin-left: 28px;
    float: left;
}

#center {
    margin-left: 47px;
    margin-right: 47px;
    float: left ;
}

#right {
    margin-right: 28px;
    float: right;
}
/*3 column section end*/
/*article section end*/

/*2 column grid section (vehicles) start*/
    .container_12 .grid_6 img {
        width: 100%;
        height: 100%;
        padding: 80px 0px 0px 0px;
}
    
    .container_12 .grid_6 h2 {
        padding: 40px 0px 0px 0px;
        text-align: left;
}
    
    .container_12 .grid_6 p {
        text-align: justify;
        line-height: 24px;
}
/*2 column grid section (vehicles) end*/

/*form in subscribe page start*/
#sub h2 {
    font-size: 40px;
    text-align: center;
}

#sub p {
    width: 50%;
    font-size: 20px;
    padding: 10px;
    margin: auto;
    text-align: justify;
    line-height: 30px;
}

form {
    margin-left: 38%;
    font-size: 20px;
    padding: 20px 0px 40px 0px;
}

td {
    padding: 10px 20px;
}
/*form in subscribe page end*/

/*footer section start*/
footer {
    margin: auto;
    height: 80px;
    padding: 10px 40px 10px 10px;
    background-color: white;
    color:black;
}

footer a {
    float: right;
    padding: 15px 10px 10px 10px;
}

footer h3 {
    text-indent: 10px;
    font-size: 20px;
    padding: 10px;
    float: left;
}
footer img {
    border-radius: 15px;
    height: 50px;
    width: 50px;
}
/*footer section end*/







