body {
    background-color: white;
    margin: 0;
}

h1 {
    text-indent: 30px;
}
header {
    width: 95%;
    margin: auto;
    padding: 5px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(0, 0, 0);
    color: white;
    position: sticky;
    top: 0;
}

nav {
    margin: auto;
    width: 95%;
    height: 50px;
    padding: 0px 10px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(0, 0, 0);
    color: white;
    position: sticky;
    top: 90px;
}

nav ul {
    display: flex;
    margin: auto;
    padding: 10px 10px 0px 10px;
    float: right;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover,
nav ul li a.highlight {
    background: rgb(100, 196, 240);
}

.s1 {
    width: 95%;
    padding: 0px 5px;
    margin: auto;
    border: solid;
    color: white;
    position: sticky;
    top: 140px;
}

.s2 {

}
