body {
    background-color: white;
    margin: 0;
}

h1 {
    text-indent: 30px;
}
header {
    width: 95%;
    margin: auto;
    padding: 5px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(0, 0, 0);
    color: white;
    position: sticky;
    top: 0;
}

nav {
    margin: auto;
    width: 95%;
    height: 50px;
    padding: 0px 10px 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(0, 0, 0);
    color: white;
    position: sticky;
    top: 90px;
}
#threeca
{
    height:600px;
}

nav ul {
    display: flex;
    margin: auto;
    padding: 10px 10px 0px 10px;
    float: right;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    color: white;
}

nav ul li a:hover,
nav ul li a.highlight {
    background: blue;
}

.s1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.centertext {
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#left, #center, #right {
    margin-top: 30px;
    width: 30%;
    height: 500px;
}

#left {
    margin-left: 28px;
    float: left;
}

#center {
    margin-left: 47px;
    margin-right: 47px;
    float: left ;
}

#right {
    margin-right: 28px;
    float: right;
}

p {
    text-align: justify;
    letter-spacing: 0.8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    line-height: 20px;
} 


#hero {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    width: 96%;
    margin: auto;
}

#hero img {
    margin-bottom: 20px;
}

#hero p {
    text-align: justify;
    letter-spacing: 0.8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 25px;
    width: 55%;
    margin: auto;
} 

hr {
    margin: auto;
    width: 96%;
}

footer {
    margin: auto;
    width: 95%;
    height: 80px;
    padding: 10px 10px 10px 10px;
    background: rgb(0, 0, 0);
    color: white;
}

footer a {
    float: right;
    padding: 15px 10px 10px 10px;
}




